<?xml version="1.0" encoding="utf-8"?><!--
  ~  Copyright (c) 2021 Sergey Komlach aka Salat-Cx65; Original project: https://github.com/Salat-Cx65/AdvancedBiometricPromptCompat
  ~  All rights reserved.
  ~
  ~   Licensed under the Apache License, Version 2.0 (the "License");
  ~   you may not use this file except in compliance with the License.
  ~   You may obtain a copy of the License at
  ~
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~
  ~   Unless required by applicable law or agreed to in writing, software
  ~   distributed under the License is distributed on an "AS IS" BASIS,
  ~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~   See the License for the specific language governing permissions and
  ~   limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.myapplication">

    <uses-permission android:name="huawei.android.permission.MULTIWINDOW_SDK" />
    <!-- settings to enable as much devices as possible -->
    <uses-feature
            android:name="android.hardware.telephony"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.wifi"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.touchscreen.microphone"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.touchscreen.multitouch"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.type.pc"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.ram.low"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.ram.normal"
            android:required="false" />
    <uses-feature
            android:name="android.software.leanback"
            android:required="false" />

    <application
            android:name=".App"
            android:allowBackup="true"
            android:banner="@mipmap/ic_launcher"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyApplication">
        <!--
      https://android-developers.googleblog.com/2018/11/get-your-app-ready-for-foldable-phones.html
      https://developer.samsung.com/galaxy/foldable
      Doesn't have affect to the devices with Android 9 (except Samsung) and lower
            -->
        <meta-data
                android:name="android.allow_multiple_resumed_activities"
                android:value="true" />
        <!-- Google suggest use ration 2.1 or higher for displays like on S8-->
        <meta-data
                android:name="android.max_aspect"
                android:value="3.0" />

        <!-- Samsung's multiwindow -->
        <uses-library
                android:name="com.sec.android.support.multiwindow"
                android:required="false" />

        <meta-data
                android:name="com.samsung.android.sdk.multiwindow.enable"
                android:value="true" />
        <meta-data
                android:name="com.sec.android.support.multiwindow"
                android:value="true" />

        <meta-data
                android:name="com.lge.support.SPLIT_WINDOW"
                android:value="true" />

        <meta-data
                android:name="android.intent.category.MULTIWINDOW_LAUNCHER"
                android:value="true" />
        <meta-data
                android:name="com.sec.android.intent.category.MULTIWINDOW_LAUNCHER"
                android:value="true" />

        <activity
                android:name=".MainActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|screenLayout|density|fontScale|touchscreen|layoutDirection|locale|navigation|colorMode|mnc|mcc"
                android:exported="true"
                android:label="@string/app_name"
                android:resizeableActivity="true"
                android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
                <category android:name="com.sec.android.intent.category.MULTIWINDOW_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                    android:name="com.lge.support.SPLIT_WINDOW.SUPPORT_SPLIT"
                    android:value="true" />
        </activity>
    </application>

</manifest>