<!--
  ~  Copyright (c) 2021 Sergey Komlach aka Salat-Cx65; Original project: https://github.com/Salat-Cx65/AdvancedBiometricPromptCompat
  ~  All rights reserved.
  ~
  ~   Licensed under the Apache License, Version 2.0 (the "License");
  ~   you may not use this file except in compliance with the License.
  ~   You may obtain a copy of the License at
  ~
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~
  ~   Unless required by applicable law or agreed to in writing, software
  ~   distributed under the License is distributed on an "AS IS" BASIS,
  ~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~   See the License for the specific language governing permissions and
  ~   limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="dev.skomlach.biometric.compat">

    <uses-feature
            android:name="android.hardware.fingerprint"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.camera"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.camera.any"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.microphone"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.sensor.heartrate"
            android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Huawei FaceUnlock-->
    <uses-permission android:name="com.huawei.permission.USE_FACERECOGNITION" />
    <uses-permission android:name="android.permission.USE_FACERECOGNITION" />


    <!-- Oppo -->
    <uses-permission android:name="oppo.permission.USE_FACE" />
    <!--old Facelock required-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--Samsung API's
    https://github.com/ixt/ManifestDestinyDB/blob/03c83d5bc732057b6532c8266d4659b73260dd09/manifests/com.sec.android.app.sbrowser.beta.json
     -->
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="com.samsung.android.camera.iris.permission.USE_IRIS" />
    <uses-permission android:name="com.samsung.android.bio.face.permission.USE_FACE" />

    <!--Meizu API -->
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER" />

    <!--Android API's -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_IRIS" />
    <uses-permission android:name="android.permission.USE_FACE_AUTHENTICATION" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />

    <uses-sdk tools:overrideLibrary="com.huawei.security.localauthentication" />
    <application>
        <receiver
                android:name="dev.skomlach.biometric.compat.utils.DeviceUnlockedReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
